*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(47,158,163), rgb(48,62,143));
  color: white;

}

.location {
  display: flex;
  height: 30vh;
  width: 50%;
  justify-content: space-around;
  align-items: center;

}

.temparature {
  display: flex;
  flex-direction: column;
  height: 30vh;
  width: 50%;
  justify-content: space-around;
  align-items: center;

}

.degree-section {
  display: flex;
  align-items: center;
}

.degree-section span {
  margin: 10px;
  font-size: 1.5rem;
}

